@layer components {
  .nerd-btn{
    @apply
      w-full
      h-[36px]
      lg:h-[50px]
      flex
      items-center
      justify-center
      text-[12px]
      lg:text-[20px]
      rounded-[8px]
      lg:rounded-[12px]
    ;
  }

  .nerd-btn-primary{
    @apply
      bg-[#9373EE]
      text-[#F1FDFF]
    ;
  }

  .nerd-btn-outline{
    @apply
    bg-[#9373EE]
    text-[#747474]
    ;
  }
}