@tailwind base;
@tailwind components;
@tailwind utilities;

//@import "../src/styles";

pre {
  white-space: pre-wrap;      /* CSS3 */
  white-space: -moz-pre-wrap; /* Mozilla */
  white-space: -pre-wrap;     /* Opera 4-6 */
  white-space: -o-pre-wrap;   /* Opera 7 */
  word-wrap: break-word;      /* IE 5.5+ and CSS3 */
  max-width: 100%;           /* Define your max width here */
}